---
title: "Categories"
layout: default
permalink: "/categories.html"
---

<section class="mt-4 mb-5">
    
  <div class="container mb-4">
    <div class="row justify-content-md-center">
      <div class="col-10">
        <h1 class="font-weight-bold title">Categories</h1>    
        <div class="row">
          {% include menu-categories.html %}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2 g-sm-3">
    {% for category in site.categories %}
    </div> 
    
    <h3 class="mt-4 display-4" id="{{ category[0] | downcase }}"><small class="text-muted">#</small> {{ category[0] }}</h3><hr>
    
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2 g-sm-3 align-items-center">

        {% assign pages_list = category[1] %}
        {% for post in pages_list %}
          {% if post.title != null %}
              {% if group == null or group == post.group %}
                {% include card-post.html %}
              {% endif %}
          {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}

    {% endfor %}
    </div>
</div>
    
</section>

