.card {
  border-radius: 0.5rem;
  overflow: hidden;
}

.card img {
  transition: .3s ease;
}

.card:hover img {
  opacity: 0.3;
}

.categories {
  flex-wrap: wrap;
}

nav {
  background-color: #022B3A;
}

.navbar-categories,
.navbar-pagination {
  background-color: rgba(0, 0, 0, 0);
}

.navbar-dark .navbar-nav .navbar-link,
.navbar-dark .navbar-nav .navbar-link:link,
.navbar-dark .navbar-nav .navbar-link:visited {
  color: #FFFFFF;
}

.navbar-dark .navbar-nav .navbar-link:hover {
  color: #BFDBF7;
}

body {
  background-color: #E1E5F2;
}

.navbar-pagination .page-link {
  color: #022B3A;
}
.navbar-pagination .page-item.active .page-link {
  background-color: #022B3A;
  border-color: #022B3A;
}

