<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <title>Sprinkle of OT</title>

    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/theme.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab:300|Roboto:500" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
</head>
    
<body>
    <nav class="navbar navbar-dark navbar-expand-md">
      <div class="container">
        <a class="navbar-brand navbar-link fw-bold d-flex align-items-center" href="/">
          <img src="{{site.baseurl}}/assets/img/logo-dark.svg" alt="" width="116" height="44" class="d-inline-block me-3">
          <div class="d-inline-block" style="padding-top: 5px;">
            Sprinkle of OT
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto" style="padding-top: 5px;">
            <li class="nav-item">
              <a class="nav-link navbar-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-link" href="mailto:contact@sprinkleofot.com">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <main role="main">        
        {{ content }}        
    </main>

    <div class="container">
      <footer class="py-2 mt-4">
        <div class="border-bottom pb-4 mb-4"></div>
        <p class="text-center text-muted">© 2021 Sprinkle of OT</p>
      </footer>
    </div>

    <script src="{{site.baseurl}}/assets/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
    
</html>

